
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.row__header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: left;
}

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #274269;
    padding: 24px 0;
    margin: 0 32px;
    
}

.nav__link {
    margin: 16px;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 8px;
    color: #243E63
}

.nav__link--primary {
    /* border: 2px solid; */
    background-color: #6415ff;
    color: white;
    border-radius: 9999px;
    padding: 12px 32px;
}

.company_logo {
    width: 2.5rem;
    height: auto;
    max-height: 10vh;
    margin-right: 8px;
}

.logo__img {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom-width: 0px;
    font-weight: 900;
    margin-left: 0px;
    font-size: 1.5rem;
    color: #243E63
}


ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* max-width: 1280px; */
    /* height: 900px; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}



.header__box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 50%;
    margin-left: 24px;

    

}

.header__title {
    font-size: 36px;
    /* margin-top: 20x; */
}

.purple {
    color: #6415ff;
}

.header__para {
    color: #274269;
    margin: 32px 0;
}

.header__input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 28rem;
    border-style: solid;
    border-color:rgb(226, 232, 240);
    border-radius: 9999px;
    border-width: 2px;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    padding-left: 2rem;
    padding-right: 0.5rem;
    font-weight: 500;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;

}

.btn_email {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #6415ff;
    padding: 16px 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    width: 10rem;
    border-radius: 9999px;
    border: none;
}

.input_email {
    background: #ffffff;
    font-weight: 500;
    font-size: 100%;
    border: none;
    padding: 0;
    color: rgb(226, 232, 240)
    
}

.header-label {
    margin-top: 1rem;
    width: 100%;
    max-width: 450px;
    height: auto;
    opacity: 0.5;
    display: block;
}

.header__sub {
    margin-top: 80px
}

.sub__details {
    color: #A0AEC0;
}

.header__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

}

.header__img {
    max-width: 32rem;
    height: auto;
}




